#ora-parlo-io-banner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    z-index: 999999;
    transition: all 0.5s ease-out;
    pointer-events: none;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ora-parlo-io-banner.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#ora-parlo-io-banner img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px black);
    display: block;
}
